@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.App {
  text-align: center;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}

.Title {
  font-size: 500%;
  word-spacing: 60px;
  margin-bottom: -1%;
  color: #F9F6EE;
  background-color: black;
  /* width: 89%; */
}

.Nav {
  display: flex;
  justify-content: center;
  margin-top: 1.5%;
  margin-bottom: 5%;
  gap: 20px;
  font-size: 155%;
  background-color: #FAFAFA;
  /* background-color: #FFC0CB; (PINK)*/
  letter-spacing: 5px;
  padding: 3%;
  height: 5px;
}

.Errors {
  color: red;
  padding-left: 0;
  letter-spacing: 1px;
}

.Auth {
  margin-top: 100px;
}

.Profile {
  font-size: larger;
  letter-spacing: 1.5px;
}

#stats {
  background-color: black;
  color: #F9F6EE;
}

label, input {
  display: flex;
  margin: auto;
}



label {
  margin-bottom: 50px;
  border-bottom-style: solid;
}

.Note {
  border-style: solid;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 10px;
}

.Lists {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.No-Content {
  margin-top: 100px;
  font-size: 300%;
}

.button {
  transition-duration: 0.2s;
  background-color: lightgray;
  color: #F9F6EE;
  border-radius: 5px;
  border: none;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-family: 'Anton', sans-serif;
  font-size: 120%;
  margin: 10px;
  width: 40%;
  margin-bottom: 10px;
}

.button:hover {
  background-color: skyblue;
}

#card-button {
  font-size: small;
  width: 10%;
}
#card-button:hover {
  background-color: red;
}